
.signup-container{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 50px;
  }
  .form-content {
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
      background: #fff;
      width: 100%;
      max-width: 450px;
      position: relative;
      padding: 0px;
      -webkit-box-shadow: 0 40px 60px 0 rgba(0,0,0,0.3);
      box-shadow: 5px 60px 90px 5px rgba(0,0,0,0.3);
      text-align: left;
      padding: 60px;
    }
    h1{
        text-align: center;
    }
    .login-account-label{
        float: right;
    }
    
    
  